[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "Vundle.vim"]
	path = Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "dracula/iterm"]
	path = dracula/iterm
	url = https://github.com/dracula/iterm.git
[submodule "dracula/alfred"]
	path = dracula/alfred
	url = https://github.com/dracula/alfred
[submodule "dracula/quiver"]
	path = dracula/quiver
	url = https://github.com/dracula/quiver
[submodule "dracula/terminal-app"]
	path = dracula/terminal-app
	url = https://github.com/dracula/terminal-app.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "fzf"]
	path = fzf
	url = https://github.com/junegunn/fzf.git
[submodule "fonts"]
	path = fonts
	url = https://github.com/powerline/fonts.git
[submodule "zplug"]
	path = zplug
	url = https://github.com/zplug/zplug
