[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "bash/git-aware-prompt"]
    path = bash/git-aware-prompt
    url = https://github.com/star114/git-aware-prompt.git
[submodule "MacOsSafariExtensions"]
	path = MacOsSafariExtensions
	url = https://github.com/star114/MacOsSafariExtensions.git
[submodule "gdb-dashboard"]
	path = gdb-dashboard
	url = https://github.com/cyrus-and/gdb-dashboard.git
[submodule "Vundle.vim"]
	path = Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "dracula/iterm"]
	path = dracula/iterm
	url = https://github.com/dracula/iterm.git
[submodule "dracula/alfred"]
	path = dracula/alfred
	url = https://github.com/dracula/alfred
[submodule "dracula/quiver"]
	path = dracula/quiver
	url = https://github.com/dracula/quiver
[submodule "dracula/terminal-app"]
	path = dracula/terminal-app
	url = https://github.com/dracula/terminal-app.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
